:root{
  --green:#27ae60;
  --black:#444;
  --light-color:rgb(73, 69, 69);
  --bg-color:#e6e6e6;
  --border:.1rem solid rgba(0,0,0,.2);
  --border2: none;
  --box-shadow:.4rem .4rem 1rem #ccc,
              -.4rem -.4rem 1rem #fff;
  --box-shadow2:.4rem .4rem .5rem #ccc,
              -.4rem -.4rem .5rem #fff;
  --box-shadow-inset:.4rem .4rem 1rem #ccc inset,
                    -.4rem -.4rem 1rem #fff inset;
}

body {
  background-color: var(--bg-color);
}

body.active{
  --black:#fff;
  --white:#fff;
  --light-color:#ddd;
  --bg-color:#222;
  --border:.1rem solid rgba(0,0,0,.4);
  --box-shadow:.4rem .4rem 1rem #111,
              -.4rem -.4rem 1rem #333;
  --box-shadow-inset:.4rem .4rem 1rem #111 inset,
                    -.4rem -.4rem 1rem #333 inset;
}

/* nav item style  */
nav li {
  margin-top: 4rem;
  display: inline-block;
}
nav a {
  color:var(--black);
  box-shadow: var(--box-shadow);
  margin-right: 10px;
  font-size: 30px;
  border-radius: 10px;
  transition: 0.5s;
}
nav a:hover {
  color:var(--black);
  box-shadow: var(--box-shadow-inset);
}
.bi-facebook {
  color: #446beb;
}
.bi-instagram {
  color: red;
}

.bi-whatsapp {
  color: #63d843;
}
.bi-linkedin{
  color: #1e4de6;
}
/* header area style  */
header {
  margin: 5vh 0;
}
header h1 {
  position: relative;
  margin: 0 auto;
  width: 30%;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 50px;
}

a{
  color: var(--white);
  text-decoration: none;
}

a:hover{
  color: var(--white);
}

/* search area style start from here  */
.search-container{
  width: 60%;
}

#phoneInput {
  width: 100%;
  height: 65px;
  padding: 10px 0px;
  font-size: 24px;
  border: 0px;
  border-radius: 10px;
  padding: 10px 15px;
  background: var(--bg-color);
  color: var(--white);
  box-shadow: var(--box-shadow-inset);
}

#phoneInput:hover {
  color:var(--white);
    /* box-shadow: var(--box-shadow-inset); */
}

*::-webkit-input-placeholder {
  color: var(--light-color);
}
input:focus {
  outline: 0px solid red;
}
input {
  color: var(--white);
  text-align: center;
}
#submit {
  width: 60%;
  height: 61px;
  margin-top: .3rem;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  background: var(--bg-color);
}
#submit:hover {
    box-shadow: var(--box-shadow-inset);
}
#submit i {
  color:var(--black);
  font-size: 25px;
}
/* search area style ended */

/* flip card design start from here  */
.card-container {
  width: 100%;
  height: 250px;
  margin: 0 auto;
  position: relative;
  transform-style: preserve-3d;
  perspective: 600px;
}
.card {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  outline: none;
  border: 0;
  transition: 0.6s ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.card .row {
  transform: translateZ(100px);
  text-shadow: crimson;
  text-align: center;
  border-radius: 5px;
  width: 80%;
}
.front {
  color:var(--white);
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
}
.back {
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
  transform: rotateY(180deg);
}
.card-container:hover .front {
  transform: rotateY(180deg);
}
.card-container:hover .back {
  transform: rotateY(360deg);
}

/* flip card extra style for dyanamic text */
.front .row,
.back .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card button {
  background: var(--bg-color);
  color: var(--white);
  box-shadow: var(--box-shadow);
  border: var(--border2);
  border-radius: 5px;
  padding: 10px;
  transition: 0.3s;
}
.card button:hover {
  color: var(--white);
  box-shadow: var(--box-shadow-inset);
}
.dyanamic-text-color {
  color:var(--black);
}

img{
  border-radius: 13px !important;
}

/* flip card style end here  */

/* details info style start*/
#details hr {
  background-color: #ff014f;
  height: 1px;
  border: 0;
  opacity: 1;
}
#details ul {
  list-style: none;
  padding-left: 0;
}
#details i {
  font-size: 30px;
}
#details li {
  position: relative;
}
#details span {
  position: absolute;
  top: 0;
}
#details i{
  color: #ff014f;
}
#details span {
  color: #ff014f;
}
#details
h2,
h4 {
  color:var(--white);
}

#details strong {
  color: var(--white);
  font-size: 13px;
  font-weight: 600;
}
.main-info {
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  padding: 5px 10px;
  position: relative;
}
#close-btn {
  width: 20px;
  position: absolute;
  top: 5%;
  left: 95%;
  cursor: pointer;
  transition: 0.4s;
  color: #ff014f !important;
}

/* details info style ended*/
/* see more btn  */
.show-more {
  box-shadow: var(--box-shadow);
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}
.show-more i {
  font-size: 60px;
  color:var(--black);
}
.show-more > div {
  transition: 0.3s;
}
.show-more:hover > div {
  transform: rotate(90deg);
}

#theme-toggler{
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  /* z-index: 1000; */
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border-radius: 50%;
  /* font-size: 1rem; */
  cursor: pointer;
  box-shadow: var(--box-shadow);
  text-align: center;
  color:var(--black);
  background: var(--bg-color);
}

#theme-toggler:hover{
  color:var(--white);
  box-shadow: var(--box-shadow-inset);
}

/*----------------------- Responsive Breakpoints ---------------------------*/
@media screen and (max-width: 490px) {
  header h1{
    width: 80%;
    font-size: 2rem;
  }
  #theme-toggler{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
  }
  #phoneInput{
    height: 55px;
    margin-top: -2rem;
    width: 100%;
  }

  #submit{
    margin-left: 32%;
    width: 30%;
    margin-top: 1.5rem;
    height: 50px;
  }
  .search-container{
    width: 90%;
  }
  .card-container {
    width: 100%;
    height: 450px;
  }
  .card {
    margin-left: 4%;
    width: 90%;
    height: 100%;
  }
  .card-images{
    border-radius: 17px !important;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }

  .show-details-images{
    margin-top: 0rem;
    margin-bottom: 1rem;
  }

  .details-img{
    margin-bottom: 1.5rem;
  }

  #details
  h2{
    margin-top: .8rem;
  }
  
  .card button{
    margin-top: 1rem;
  }
  #close-btn {
    top: 0%;
    left: 83%;
  }
  .see-more{
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .card-container {
    height: 280px;
  }
  .details-img{
    margin-left: 3.5rem;
  }
  .show-details-images{
    margin-left: 1.2rem;
  }
}